.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.center-div {
  text-align: center;
}

nav h1 {
  color: goldenrod; 
}

nav h3 {
  color: white;
}

.title {
  text-align: center;
}

.cart {
  color: goldenrod;
  font-size: 11px;
  position:fixed;
  right: 0px;
  top: 0px;
  padding: 5px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
